body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
nav{
    background-color: indianred;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.food-network h1{
    font-size: 45px; 
    line-height: 15px;
    color: rgb(51, 50, 50); 
}
.food-network p{
    color: gray;
    margin-bottom: 50px;
    text-align: justify;
}
span{
    color: orange;
}
.food-network{
    display: flex;
    margin-bottom: 100px;
}
   
.half-width{
    width: 50%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 3%;
}
.ditieals{
    margin-top: 12%;
}
.half-width img{
    width: 90%;
}.batton{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(orange,tomato);
    padding: 16px 35px;
    border-radius: 50px;
    box-shadow: 5px 5px 20px tomato;
}
.middle{
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
}
.middle img{
    width: 60%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 60px;
}
.middle h3{
font-size: 35px;
color: gray;
margin-top: 100px;
}
.add-image{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: left;
}
.title h1,p{
    text-align: center;
    color: gray;
  }
#image-title{
    width: 30%;
    height: 450px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
      
  }
#image-title img{
    width: 90%;
    margin: 15px;
    border-radius: 10px;
      
  }
#image-title h3{
    margin: 15px;
    font-size: 30px;
    font-weight: 800;
  }
#image-title p{
    margin: 15px;
    color: gray;
      
  }
.optional-main-div{
    margin-left: 4%;
    margin-right: 4%;
    padding: 10px;
    display: flex;
    width: 100%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 15px;
}
.div1{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}